


.csi-card-checkout {
    height: 150px;
    width: 800px;
    margin-top: 20px;
}




.csi-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}