
body { background-color: #9fffff; }

.App-Bar {
  text-align: center;
}

.no-clicks {
  pointer-events: none;
}

.App-Content {
  margin-top: 30px;
  text-align: center;
  width: 90%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

